# Core dependencies
requests>=2.31.0
python-dotenv>=1.0.0

# Web framework & Dashboard
flask>=3.0.0
dash>=2.14.0
dash-bootstrap-components 

# Data processing
pandas>=2.0.0

# Database
sqlalchemy>=2.0.0

# Additional utilities
python-dateutil>=2.8.2
OTXv2>=1.5.12